
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">M'inscrire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ form_start(registerForm) }}
      <div class="modal-body">
        {{ form_row(registerForm.firstname) }}
        {{ form_row(registerForm.name) }}
        {{ form_row(registerForm.email) }}
        {{ form_row(registerForm.birthday) }}
        {{ form_row(registerForm.street) }}
        {{ form_row(registerForm.city) }}
        {{ form_row(registerForm.password) }}
      </div>
      <div class="modal-footer">
        <div class="w-100 d-flex justify-content-around">
          {{ form_row(registerForm.delete) }}
          {{ form_row(registerForm.submit) }}
        </div>
          {{ form_row(registerForm.checkbox) }}
      </div>
      {{ form_end(registerForm) }}
        
      <div class="mt-3 text-center">
        <a href=""> Déjà inscrit? <small>Me connecter</small> </a>
      </div>
    </div>
  </div>
</div>