<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Page d'accueil du site {{ siteName }} {% endblock %}"/>
        <meta name="keywords" content="Médiathèque, livres, bibliothèque, romans, emprunt, lecture, bande dessinée, poésie, littérature, {% for category in categories.findAll %} {{ category.name }} - {{ category.subcategory }},{% endfor %}"/>
        <meta name="author" content="Guillaume Lepoetre"/>
        <meta name="copyright" content="{{siteName}}"/>
        <meta name="robots" content="index"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/uploads/logo/logo-mediatheque.jpeg">
        <title>{% block title %}{{ siteName }}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% if block('header') is defined %}
                {% include "utils/header.html.twig" %}
            {% endif %}
        </header>
        <div class="flash">
            {% include('utils/flash.html.twig') %}
        </div>
        {% if block('breadcrumb') is defined %}
            <div class="ps-3 pt-3">
            {% include "utils/breadcrumb.html.twig" %}
            </div>
        {% endif %}
        <main>

            {% block body %}
                
            {% endblock %}
        </main>
        {% include "utils/footer.html.twig" %}
        {% include 'utils/modals/contact.html.twig' %}
        {% include 'utils/modals/about.html.twig' %}
        {% include 'utils/modals/reglement.html.twig' %}
        {% include 'utils/modals/privacy.html.twig' %}
    </body>
</html>
