<div class="books-card card col-12 col-sm-5 col-md-4 col-lg-3 m-2">
    <div class="container-img">
        <img class="books-card-img card-img-top" src="{{ asset('uploads/books/' ~ book.picture) }}" alt="Couverture {{ book.title }} - {{ book.author }}">
    </div>
    <div class="card-body">
        <h5 class="books-card-title card-title">{{ book.title }}</h5>
        <h6 class="books-card-autor card-title font-italic"><a href="{{ path('show_books_author', {'authorSlug' : book.authorSlug}) }}">{{ book.author }}</a></h6>
        <p class="books-card-description card-text">{{ book.description| length > 150 ? book.description|slice(0, 150) ~ '...' : book.description }}</p>
    </div>
    <div class="card-body text-center">
        <a href="{{ path('show_one_book', {'bookTitleSlug' : book.titleSlug}) }}" class="card-link">Voir détails</a>
        {% if book.available == true %}
        <a href="{{ path('reservation', {'id' : book.id}) }}" class="card-link">Réserver</a>
        {% else %}
        <a href="#" class="card-link text-danger">Non disponible</a>
        {% endif %}
    </div>
</div>