{# header  navigation #}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('show_books') }}">{{ siteName }}</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('show_books') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mon compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Me déconnecter</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

{# navigation toggle catégories  #}
{# liste des catégories #}
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light p-4">
    <h5 class="text-dark h4">Genres littéraires</h5>
    <ul>
        {% for category in categories.findAll %}
            <li><a href="">{{ category.name }} - {{ category.subCategory }}</a></li>
        {% endfor %} 
    </ul>
  </div>
</div>
{# navBar catégories #}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" id="navBtnToggler">
      <span id="navBtnTogglerSpan">Les genres &darr;</span>
    </button>
  </div>
</nav>
